*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	height: 100%;
}
main{
	height: 100%;
}
.first{
	height: 100%;
	background-image: url('../img/img.jpg');
	background-position: center;
	background-size: cover;   
}
html{
	height: 100%;
}
p.Tourism{
	color: #ffffff;
	font-size: 21px;
	text-align: center;
	padding-top:  80px;
}
.first-line{
	font-size: 23px;
	color: #b7b7b7;
	font-weight: bold;
}
.second-line{
	font-size: 63px;
	color: #ffffff;
	font-weight: bold;
}
.third-line{
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
	width: 40%;
}
.text-container{
	margin-left: 15%;
	margin-top: 25vh;
}
.foot{
	width: 100%;
	height: calc(100vw*326 / 1400);
	background-image: url(../img/foot.jpg); 
	background-position: center;
	background-size: cover;
	padding-top: 96px;
	text-align: center;

}
.button{
	height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 36px;
	color: #ffffff;
	border: 1px solid #ffffff;
	cursor: pointer;
	transition: all 1s;
	margin: 0 auto;
	display: inline-block;
	text-align: center;
}
.button:hover {
	background-color: rgba(256, 256, 256, 0.2);
	border-radius: 3px;
}
.button a{
	color: inherit;
	text-decoration: none;
}
.foot-text {
	color: #ffffff;
	line-height: 26px;
	font-size: 13px;
	width: 620px;
	margin: 0 auto;
	padding-top: 32px;

}
.gallery-haeder{
	font-size: 30px;
	margin-left: 15%;
	margin-top: 60px;
	width: 160px;
	display: inline-block;
}
.gallery-p{
	display: inline-block;
	width: 510px;
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	opacity: 0.61;
}
.img-container{
	margin: 34px 15%;
}
.img1{
	width: 49%;
	vertical-align: top;
}
.wrapper{
	width: 50%;
	display: inline-block;
	padding-left: 20px;
}
.wrapper img{
	width: 100%;
	margin-bottom: 20px;
}